@import url(https://fonts.googleapis.com/css?family=Roboto:100,300&subset=latin,latin-ext);

@media only screen and (max-width:700px) {
	* {
		font-size: 20px !important;
	}
	.tablecontainer {
		width: 95% !important;
	}
	#btnok {
		width: 70% !important;
		height: 50% !important;
	}
	#logingroup {
		width: 80% !important;
	}
	#text {
		top: 7% !important;
	}
	.search {
		width: 100% !important;
	}
	.search input {
		height: 100% !important;
	}
	#toast-container * {
		font-size: 17px !important;
		width: 96% !important;
	}
} 

html,body {
	margin: 0;
	padding: 0;
	background: radial-gradient(ellipse at 50% 35%, #AAAAAA 0%, #424650 85%);
	font-family: Roboto, sans-serif;
	height: 100%;
	width: 100%;
	z-index: -100;
	overflow-x: hidden;
}

#logincontainer {
	display:flex;
	align-items:center;
	justify-content:center;
	height: 100%;
}

#logingroup {
	width: 20%;
}

#btnok {
	margin-top: 15px;
	width: 30%;
}

#text {
	color: #353535;
	position: absolute;
	top: 25%;
    text-align: center;
	width: 100%
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.tablecontainer {
	display : block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 7%;
	width: 70%;
	z-index: 666;
}

#tabela_hasua thead tr {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#newbackground {
	display : block;
 	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: #EFEFEF;
}

#syncAnim {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 2em;
	color: #0000DD;
	z-index: 100;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
